/* Layout Lightbox ----------------------------------- */
.lightbox {
	display: none;
	position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    overflow: auto;
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.4);
}
.lightbox-box {
    // background-color: #FFFFFF;
    // width: 80%;
    // position: relative;
    // margin: auto;
    // padding: 0;
    // top: 0;
    // overflow: auto;

    position: relative;
    background-color: #ffffff;
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 0;
    border: 10px solid #fff;
    top: 10%;
    top: 5vh;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.lightbox-content {
	// padding: 30px 55px;
	width: 100%;
    border-radius: 0px;
    border-radius: 0 0 10px 10px;
    color: #000000;
    text-align: center;
	.close_btn {
		width: 50px;
		height: 50px;
	    right: 10px;
	    top: 10px;
	    position: absolute;
	}
	.iframe-wrap {
		iframe {
		    display: block;
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		}
	}
}
.youtube-vd.lightbox {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
}

.ac-lightbox.downout {
	-webkit-animation-name: animatedown;
    -webkit-animation-duration: 0.3s;
    animation-name: animatedown;
    animation-duration: 0.3s;
}

/* Add Animation */
@-webkit-keyframes animatetop{
	0%{
		opacity:0;
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
		// -webkit-transform:scale3d(.3,.3,.3);
		// transform:scale3d(.3,.3,.3)
	}
	100%{
		opacity:1;
		-webkit-transform: translate(0, 0%);
		transform: translate(0, 0%);
	}
}
@keyframes animatetop{
	0%{
		opacity:0;
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
		// -webkit-transform:scale3d(.3,.3,.3);
		// transform:scale3d(.3,.3,.3)
	}
	100%{
		opacity:1;
		-webkit-transform: translate(0, 0%);
		transform: translate(0, 0%);
	}
}
@-webkit-keyframes animatedown{
	0%{
		opacity:1;
		-webkit-transform: translate(0, 0%);
		transform: translate(0, 0%);
	}
	100%{
		opacity:0;
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
		// -webkit-transform:scale3d(.3,.3,.3);
		// transform:scale3d(.3,.3,.3)
	}
}
@keyframes animatedown{
	0%{
		opacity:1;
		-webkit-transform: translate(0, 0%);
		transform: translate(0, 0%);
	}
	100%{
		opacity:0;
		-webkit-transform: translate(0, 100%);
		transform: translate(0, 100%);
		// -webkit-transform:scale3d(.3,.3,.3);
		// transform:scale3d(.3,.3,.3)
	}
}

.zanimatetop{
	-webkit-animation-name:zoomIn;
	animation-name:zoomIn
}

/* The Close Button and select */
.close_btn {
	color: #fff;
    height: 40px;
    width: 40px;
    position: absolute;
    right: -50px;
    top: -10px;
    background:#051468;

	// height:60px;
	// width:60px;	
 //    position:absolute;
	// right:15px;
	// top:15px;
	// cursor: pointer;
	// z-index: 2;
	&:before, &:after {
		content: '';
		background: #fff;
	    border: none;
	    height: 3px;
	    width: 100%;
	    position: absolute;
	    margin-left: -38%;
	    top: 0;
	    left: 0%;
	    // margin-left: -38%;
	    -webkit-transition: all 0.35s ease;
	    -o-transition: all 0.35s ease;
	    transition: all 0.35s ease;
	}
	&:before {
		@include transform-R(translate(16px,18px) rotate(45deg));
	}
	&:after {
		@include transform-R(translate(16px,18px) rotate(-45deg));
	}
}
.close_btn:hover,.close_btn:focus {
    text-decoration: none;
    cursor: pointer;}

.modal-center{
		width:100%;
		border-radius: 0px;
		border-radius: 0 0 10px 10px;
		padding: 60px 0;
		color: #000000;
		text-align:center;}
.Setin {padding:0;width:auto;margin:0 auto;}
.modal-center > .Setin {padding:0 25px;}
/* Layout Lightbox ----------------------------------- */