 <!-- @@master = ../layouts/default.html-->

<!-- @@block  =  title -->
<title>鴻海講學鯨 | 關於我們</title>
<!-- @@close -->

<!-- @@block  =  head-css -->
	<!-- home css -->
	<link rel="stylesheet" type="text/css" href="css/pingin/slick.min.css">
	<link rel="stylesheet" type="text/css" href="css/pingin/slick-theme.min.css"/>
<!-- @@close -->

<!-- @@block  =  head-js -->
	<!-- home js -->
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/pingin/slick.min.js"></script>
	<!-- Youtube API -->
	<script>
	  // Load the IFrame Player API code asynchronously.
	  var tag = document.createElement('script');
	  tag.src = "https://www.youtube.com/player_api";
	  var firstScriptTag = document.getElementsByTagName('script')[0];
	  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	</script>
	<script src="js/home/main.js"></script>
	
<!-- @@close -->

<!-- @@block  =  bodyCont -->
data-spy="scroll" data-target="#scrollNav" data-offset="300"
<!-- @@close -->

<!-- @@block = content -->
<div id="scrollNav">
	<a class="list-group-item list-group-item-action" href="#kv"></a>
	<a class="list-group-item list-group-item-action" href="#s2-dream"></a>
	<a class="list-group-item list-group-item-action" href="#s3-teacher"></a>
	<div class="arrow"></div>
	<div class="txt">scroll</div>
</div>
<div id="home">
	
	<section id="kv">
		<div class="img">
			<h1><img src="images/home/s1-title.png" alt="鴻海獎學鯨 您的夢想頻率 被聽見"></h1>
			<div class="scroll"><a href="#s2-dream"><img src="images/scroll-down.svg" alt=""></a></div>
		</div>

	</section>
	<section id="s2-dream">
		<div class="container">
			<div class="s2-title">
				<h2><img src="images/home/s2-title.png" alt="夢想無限只要你勇敢實踐"></h2>
			</div>
			<div class="s2-content">
				<div class="hr light-blue"></div>
				<h2 class="light-blueTxt">什麼是獎學鯨？</h2>
				<p>生命有無限潛力，生活有無限發展的可能，鴻海教育基金會相信每位學子都有欲追求的理想與夢想，如同鯨魚遨遊於鴻海之中。本會以此信念，特設獎助學金，並取其意命名為「鴻海獎學鯨」。</p>
			</div>
		</div>
		<div class="whale"><img src="images/home/whale-mo.png" alt=""></div>
		<div class="container">
			<div class="s3-content">
				<div class="hr light-blue"></div>
				<h2 class="light-blueTxt">申請辦法</h2>
				<div class="row ">
				    <div class="col col-md-6">
				      <a class="Card" href="#">
				      	<h3>鴻海<br>獎助學金</h3>
				      	<p>大專院校生</p>
				      	<div class="arrow"></div>
				      </a>
				    </div>
				    <div class="col col-md-6">
				      <a class="Card" href="#">
				      	<h3>科技<br>獎學金</h3>
				      	<p>碩博研究生</p>
				      	<div class="arrow"></div>
				      </a>
				    </div>
				</div>
			</div>
		</div>
	</section>
	<section id="s3-teacher">
		<div class="container">
			<div class="s1-content">
				<div class="hr dark-blue"></div>
				<h2 class="dark-blueTxt">講師分享</h2>
				<p>生命有無限潛力，生活有無限發展的可能，鴻海教育基金會相信每位學子都有欲追求的理想與夢想，如同鯨魚遨遊於鴻海之中。本會以此信念，特設獎助學金，並取其意命名為「鴻海獎學鯨」。</p>
			</div>
		</div>
		<div class="s2-content">
			<div class="teacherSlick">
			  <a class="slideCard" data-rel="kIAs-5qLmTE">
			  	<img src="images/home/teacher.jpg" alt="">
			  	<div class="title">
			  		<span>鴻海獎學鯨</span><br>您的夢想頻率<br>被聽見
			  	</div>
			  </a>
			  <a class="slideCard" data-rel="IGPGuEEhFh0">
			  	<img src="images/home/teacher.jpg" alt="">
			  	<div class="title">
			  		<span>鴻海獎學鯨</span><br>您的夢想頻率<br>被聽見
			  	</div>
			  </a>
			  <a class="slideCard" data-rel="k4V3Mo61fJM">
			  	<img src="images/home/teacher.jpg" alt="">
			  	<div class="title">
			  		<span>鴻海獎學鯨</span><br>您的夢想頻率<br>被聽見
			  	</div>
			  </a>
			  <a class="slideCard" data-rel="gnIZ7RMuLpU">
			  	<img src="images/home/teacher.jpg" alt="">
			  	<div class="title">
			  		<span>鴻海獎學鯨</span><br>您的夢想頻率<br>被聽見
			  	</div>
			  </a>
			  <a class="slideCard" data-rel="RB-RcX5DS5A">
			  	<img src="images/home/teacher.jpg" alt="">
			  	<div class="title">
			  		<span>鴻海獎學鯨</span><br>您的夢想頻率<br>被聽見
			  	</div>
			  </a>
			</div>
			<div class="teacherSlick-txt">
				<div class="slideCard"><span class="title">台大電機系教授</span><span class="name">葉丙成</span></div>
				<div class="slideCard"><span class="title">唯思廣告</span><span class="name">林鼎倫</span></div>
				<div class="slideCard"><span class="title">17直播平台主播</span><span class="name">李孟恩</span></div>
				<div class="slideCard"><span class="title">台大電機系教授</span><span class="name">劉郁青</span></div>
				<div class="slideCard"><span class="title">神奇寶貝專家</span><span class="name">林竺頻</span></div>
			</div>
		</div>
		<div class="s3-content">
			<div class="bg">
			<div class="container">
				<div class="content">
					<div class="hr dark-blue"></div>
					<h2 class="dark-blueTxt">聯合報合作計畫</h2>
					<p>生命有無限潛力，生活有無限發展的可能，鴻海教育基金會相信每位學子都有欲追求的理想與夢想，如同鯨魚遨遊於鴻海之中。本會以此信念，特設獎助學金，並取其意命名為「鴻海獎學鯨」。</p>
					<div class="button"><a href="#">繼續閱讀</a></div>
				</div>
			</div>
			</div>
			
		</div>
	</section>
</div>

<div id="youtube-vd" class="lightbox youtube-vd" >
  <div class="lightbox-box">
  	<span class="close_btn" onclick="closebtnVD();"></span>
    <div class="lightbox-content">
      <div class="iframe-wrap"><div id="player"></div></div>
    </div>
  </div>
</div>
<div class="shareLink">
	<div class="container">
		<ul>
			<li><a href="#" target="_blank"><img src="images/icon-mail.svg" alt=""></a></li>
			<li><a href="#" target="_blank"><img src="images/icon-facebook.svg" alt=""></a></li>
		</ul>
	</div>
</div>
<!-- @@close-->