 <!-- @@master = ../layouts/default.html-->

<!-- @@block  =  title -->
<title>鴻海獎學鯨 | 科技獎學鯨</title>
<!-- @@close -->

<!-- @@block  =  head-css -->
	<link rel="stylesheet" type="text/css" href="css/pingin/slick.min.css">
	<link rel="stylesheet" type="text/css" href="css/pingin/slick-theme.min.css"/>
<!-- @@close -->

<!-- @@block  =  head-js -->
	<!-- home js -->
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/pingin/slick.min.js"></script>
	<script src="js/sc2017/main.js"></script>
<!-- @@close -->


<!-- @@block = content -->
<div id="Scholarship2017" class="applySc">
	<section id="kv">
		<h1><img src="images/sc2017/s1-title.png"></h1>
	</section>
	<section class="section1">
		<div class="grayBox">
			<div class="container">
				<div class="hr dark-blue"></div>
				<h2 class="dark-blueTxt">精彩回顧</h2>
				<div><img src="images/sc2017/section1-content.jpg" alt=""></div>
			</div>
		</div>
	</section>
	<section class="section2">
		<div class="grayBox">
			<div class="container">
				<div class="hr dark-blue"></div>
				<h2 class="dark-blueTxt">報導文章</h2>
				<div class="article acticle1">
					<div class="report-img">
						<img src="images/sc2017/report1-img.jpg" alt="">
					</div>
					<div class="report">
						<div class="timeTag">2018.05.15</div>
						<h3 class="report-title">鴻海培育科技人才<br>獎助學金擴大助弱勢學子</h3>
						<p class="report-na">鴻海教育基金會獎學鯨計畫，2017年支持了300名克服生活困境、積極向上的優秀學子，而今（2018）年將舉辦第二屆獎學鯨計畫⋯</p>
						<div class="report-btn"><a href="javascript:;">繼續閱讀</a></div>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="article acticle2">
					<div class="report-img">
						<img src="images/sc2017/report2-img.jpg" alt="">
					</div>
					<div class="report">
						<div class="timeTag">2018.05.15</div>
						<h3 class="report-title">鴻海第二屆獎學鯨開跑<br>新增碩博士科技獎學金</h3>
						<p class="report-na">由鴻海集團旗下教育基金會舉辦的獎學鯨計劃，第 2 屆將開跑，並新生增修進修學士班申請資格辦法，及另設碩博生可申請的鴻海科技獎學金⋯</p>
						<div class="report-btn"><a href="javascript:;">繼續閱讀</a></div>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="divider"></div><!-- divider -->
				<h3 class="other-report dark-blueTxt">其他熱門</h3>
				<ul class="ot-re-list">
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
					<li class="ot-re-item"><a href="javascript:;">
						<div class="ot-re-img"><img src="images/sc2017/ot-re-img1.jpg" alt=""></div>
						<div class="ot-re-txt">
							<p>鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
							<div class="arrow"><div class="arrow-g"></div></div>
						</div>
					</a></li>
				</ul>
				<div class="more-btn"><a href="javascript:;">更多文章</a></div>
			</div>
		</div>		
	</section>
	<section class="section3" id="section3">
		<div class="grayBox"></div>
		<div class="shareLink">
			<ul>
				<li><a href="#" target="_blank"><img src="images/icon-mail-w.svg" alt=""></a></li>
				<li><a href="#" target="_blank"><img src="images/icon-facebook-w.svg" alt=""></a></li>
			</ul>
		</div>
	</section>
</div>



<!-- @@close-->