 <!-- @@master = ../layouts/default.html-->

<!-- @@block  =  title -->
<title>鴻海獎學鯨 | 鴻海獎學鯨</title>
<!-- @@close -->

<!-- @@block  =  head-css -->
	<link rel="stylesheet" type="text/css" href="css/pingin/slick.min.css">
	<link rel="stylesheet" type="text/css" href="css/pingin/slick-theme.min.css"/>
<!-- @@close -->

<!-- @@block  =  head-js -->
	<!-- home js -->
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/pingin/slick.min.js"></script>
	<script src="js/sc/main.js"></script>
<!-- @@close -->


<!-- @@block = content -->
<div id="Scholarship" class="applySc">	
	<section id="kv">
		<div class="container">
			<h1><img src="images/sc/s1-title.png" alt="我是大專院校生 鴻海獎助學金 申請辦法"></h1>
		</div>
	</section>
	<section class="section1" id="section1">
		<div class="grayBox">
			<div class="container">
				<div class="hr dark-blue"></div>
				<h2 class="dark-blueTxt">申請資格</h2>
				<p>點擊圖片放大瀏覽。</p>
				<ul class="qualSlick allSlick">
					<li class="slider"><img src="images/sc/qual-img1.jpg" alt=""></li>
					<li class="slider"><img src="images/sc/qual-img2.jpg" alt=""></li>
					<li class="slider"><img src="images/sc/qual-img3.jpg" alt=""></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section2" id="section2">
		<div class="grayBox">
			<div class="container">
				<div class="hr dark-blue"></div>
				<h2 class="dark-blueTxt">申請流程與檢附文件</h2>
				<p>點擊圖片放大瀏覽。</p>
				<ul class="procSlick allSlick">
					<li class="slider"><img src="images/sc/proc-img1.jpg" alt=""></li>
					<li class="slider"><img src="images/sc/proc-img2.jpg" alt=""></li>
					<li class="slider"><img src="images/sc/proc-img3.jpg" alt=""></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section3" id="section3">
		<div class="grayBox">
			<div class="container">
				<div class="hr light-blue"></div>
				<h2 class="light-blueTxt">詳細規章與辦法</h2>
				<div class="downloadBox">
					<a href="#">
						<div class="download-img"><img src="images/sc/download-img.png" alt=""></div>
						<p>檔案大小： 2mb</p>
						<h3>點我下載</h3>
					</a>
				</div>				
			</div>
		</div>
		<div class="shareLink">
			<ul>
				<li><a href="#" target="_blank"><img src="images/icon-mail-w.svg" alt=""></a></li>
				<li><a href="#" target="_blank"><img src="images/icon-facebook-w.svg" alt=""></a></li>
			</ul>
		</div>
	</section>
</div>
<!-- @@close-->