/*==  旋轉通知 ==*/
  .lock_wrp {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: hidden;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0,.96);
      color: rgba(255,255,255,.8);
      z-index: 99999999;
  }
  .lock {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 250px;
      height: 150px;
      margin: -75px 0 0 -125px;
      text-align: center;
  }
  .lock i {
      position: relative;
      display: block;
      width: 68px;
      height: 110px;
      background: url(../images/notrans.png) 0 0 no-repeat;
      background-size: 100%;
      margin: 0 auto;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-animation: iphone 3s ease-in infinite;
      animation: iphone 3s ease-in infinite;
  }
  @-webkit-keyframes iphone {
    0% {
      -webkit-transform:rotate(-90deg)
    }
    25% {
      -webkit-transform:rotate(0deg)
    }
    50% {
      -webkit-transform:rotate(0deg)
    }
    75% {
      -webkit-transform:rotate(-90deg)
    }
    100% {
      -webkit-transform:rotate(-90deg)
    }
  }
  @keyframes iphone {
    0% {
      transform:rotate(-90deg)
    }
    25% {
      transform:rotate(0deg)
    }
    50% {
      transform:rotate(0deg)
    }
    75% {
      transform:rotate(-90deg)
    }
    100% {
      transform:rotate(-90deg)
    }
  }

  #content{position: absolute;width:100%;height:100%;background:#3c98d1;overflow: hidden;
      left: 0;
      top: 0;color:white;}

@media screen and (max-aspect-ratio: 13/9) {
.lock_wrp {
    display: none;
}
}
@media screen and (min-device-width: 1024px){
.lock_wrp {
    display: none;
}
}
/*==  旋轉通知結束 ==*/