/*-- scholarship --*/

header.grayColor {
	ul li {
		border-right: 2px solid #666666;
		&:last-of-type {
			border-right: none;
		}
		a {
			color: #666666;
		}
	}
	.open ul li {
		border-right: none;
	}
	.button_container span {
		background: #666666;
	}
	img.base {
		display: block !important;
	}
	img.white {
		display: none !important;
	}
}
.applySc {
	.container {
		width: 100%;
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		position: relative;
	}	
	.grayBox {
		width: 92%;
		display: block;
		position: relative;
		background: rgba(223,227,229,0.92);
		padding-top: 10%;
	}
	div.hr {
		width: 45px;
		height: 18px;
	}
	section {
		overflow: hidden;
	}
	.allSlick {
		width: 80%;
		margin: 5% auto 10% auto;
		.slick-dots {
			bottom: -50px;
		}
		.slick-prev, .slick-next {
			width: 38px;
			height: 38px;			
		}
		.slick-prev {
			background: url(../images/sc/prev.png) center no-repeat;
			background-size: cover;
			left: -10%;			
		}
		.slick-next {
			background: url(../images/sc/next.png) center no-repeat;
			background-size: cover;
			right: -10%;			
		}
	}
	h2 {
		margin-top: 6%;
		padding-bottom: 3%;
	}
	p {
		font-size: 1.25em;
	}
	.section1 {
		width: 100%;
		background: url(../images/sc/s1-bg.jpg) center no-repeat;
		background-size: cover;
		position: relative;
		.container {
			width: 88%;
			@include transform-R(translate(-6.2%,0));
		}
		.grayBox {
			left: 8%;
			border-top-left-radius: 150px;
			&:before {
				content: '';
				width: 42%;
				height: 90%;
				background: url(../images/sc/first.png) center no-repeat;
				background-size: contain;
				position: absolute;
				bottom: 0;
				right: 0;			
			}
		}
	}
	.section2 {
		width: 100%;
		background: url(../images/sc/s2-bg.jpg) center no-repeat;
		background-size: cover;
		position: relative;
		.container {
			width: 88%;
			@include transform-R(translate(6.2%,0));
		}
		.grayBox {
			padding-top: 6%;
			border-bottom-Right-radius: 150px;
			&:before {
				content: '';
				width: 44%;
				height: 91%;
				background: url(../images/sc/second.png) center no-repeat;
				background-size: contain;
				position: absolute;
				bottom: 0;
				left: 5%;
				top: 9%;
				min-width: 700px;			
			}
		}
	}
	.section3 {
		width: 100%;
		background: url(../images/sc/s3-bg.jpg) center no-repeat;
		background-size: cover;
		position: relative;
		.grayBox {
			width: 100%;
			background: none;
			&:before {
				content: '';
				width: 35%;
				height: 90%;
				background: url(../images/sc/third.png) center no-repeat;
				background-size: contain;
				position: absolute;
				top: 5%;
				right: 5%;
				bottom: 5%;		
			}
		}
		.downloadBox {
			width: 100%;
			a {
				width: 100%;
				display: block;
				color: $drak-blue;
				max-width: 400px;
				margin: 10% auto;
				background: rgba(223,227,229,0.96);
				border-radius: 15px;
				padding: 6.8%;
				box-sizing: border-box;
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
				@include transition-R(all 0.5s);
				&:hover {
					text-decoration: none;
					background-color: white;
					@include transform-R(scale(1.05));
					z-index: 3;
				}
			}
			p {
				width: 100%;
				text-align: center;
				font-size: 1.71em;
				font-weight: 500;
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 3px solid $drak-blue;
				color: $drak-blue;
				text-align: center;
			}
			h3 {
				color: $drak-blue;
				text-align: center;
			}
			.download-img {
				width: 60%;
				margin: 0 auto 20%;
			}
			.shareLink {
				padding: 5em 0;
			}
		}
	}
}
#Scholarship {
	width: 100%;
	display: block;
	background-color: rgb(232, 232, 232);
	position: relative;
	
	#kv {
		width: 100%;
		height: 100vh;
		background: url(../images/sc/kv.jpg) center no-repeat;
		background-size: cover;
		background-position-x: 70%;
		position: relative;
		h1 {
			width: 24%;
			position: absolute;
			top: 18%;
			left: 5%;
		}
	}

}

// responsive
@media screen and (max-width: 1449px) {
#Scholarship {
	#kv h1 {
		width: 20%;
		top: 20%;
		left: 15%;
	}
}
.applySc {
	.section1 {
		.container {
			@include transform-R(translate(0,0));
		}
		.grayBox {
			left: 8%;
			border-top-left-radius: 100px;
		}
	}
	.section2 {
		.container {
			@include transform-R(translate(0,0));
		}
		.grayBox:before {
			width: 57%;
			height: 94%;
			left: 5%;
			top: 6%;
		}
	}
	.section3 {		
		background-position-x: 0%;
		.grayBox:before {
			width: 64%;
			right: -10%;
		}
	}
}
}
@media screen and (max-width: 1249px) {
.applySc {
	.container {
		width: 90%;
	}
}
}
@media screen and (max-width: 1200px) {
.applySc {
	.container {
		width: 90%;
	}
	.grayBox {
		width: 100%;
	}
	.allSlick {
		margin: 10% auto 20% auto;
	}
	.section1 {
		.grayBox {				
			left: 0;
			border-radius: 0;
			&:before {
				width: 50%;
			}
		}			
	}
	.section2 {
		.grayBox {				
			right: 0;
			border-radius: 0;
			&:before {
				width: 66%;
				height: 95%;
				left: -12%;
			}
		}
	}
}
}
@media screen and (max-width: 992px) {
#Scholarship {
	#kv h1 {
		width: 40%;
		left: 3%;
	}
}
.applySc {
	.section2 {
		.grayBox:before {
			min-width: auto;
		}
	}
	.section3 {
		background: url(../images/sc/s3-bgm.jpg) no-repeat;
		background-size: cover;
		background-position: top center;
		.grayBox {
			margin-top: 18%;
			&:before {
				width: 100%;
				right: -30%;
			}
		}
		.downloadBox{
			a {
				max-width: 320px;
			}
		}
	}
}
}
@media screen and (max-width: 767px) {
header.grayColor {
	img.base {
		display: none !important;
	}
	img.white {
		display: block !important;
	}
	.button_container span {
		background: #ffffff;
	}
	ul li a {
		color: #ffffff;
	}
}
#Scholarship {
	#kv h1 {
		left: 15%;
	}
}
}
@media screen and (max-width: 576px) {
#Scholarship {	
	#kv {
		background: url(../images/sc/kv-m.jpg) top center no-repeat;
		background-size: cover;
		background-position: center;
	}
}
.applySc {
	.container {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	div.hr {
		margin-left: 10%;
	}
	h2 {
		width: 96%;
		padding-left: 10%;
	}
	p {
		width: 96%;
		padding-left: 10%;
	}
	.allSlick {
		width: 100%;
		.slick-prev, .slick-next {
			width: 25px;
			height: 25px;
			top: auto;
			bottom: -50px;
			z-index: 2;
		}
		.slick-prev {
			left: 2%;
		}
		.slick-next {
			right: 2%;
		}
		.slick-dots {
			bottom: -37px;
		}
	}
	.section1, .section2 {
		.grayBox:before {
			width: 60%;
		}
		.container {
			width: 100%;
			margin: 0 auto;
			padding: 0;
		}
	}
	.section2 {
		.grayBox:before {
			width: 100%;
			left: -30%;
		}
	}
	.section3{
		.downloadBox{
			a {
				max-width: 200px;
				border-radius: 8px;
			}
			p {
				padding-left: 0;
				font-size: 1em;
			}
		}
		.grayBox:before {
			height: 100%;			
		}
	}
}
}